@font-face {
    font-family: "Nunito";
    src: url("Nunito-Regular.ttf") format("ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito";
    outline: none;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #dfdfdf;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 350px;
    max-width: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .left,
.wrapper .right {
    width: 50%;
    height: 100%;
    padding: 30px;

}

.wrapper .left {
    background-color: #494f57;

}

.wrapper .left h3 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: #fff;
    font-size: 20px;

}

.wrapper .left img {
    display: block;
    width: 220px;
    margin: 25px auto;

}



.wrapper .right {
    background-color: #fff;

}

.wrapper .right .tabs ul {
    text-align: center;
}

.wrapper .right .tabs ul li {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: #494f57;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}


li.active {
    border-bottom: 2px solid #494f58;
}



.wrapper .right .page__register,
.wrapper .right .page_login {
    margin-top: 20px;

}

.input_field {
    margin-bottom: 15px;
}

.input {
    width: 100%;
    padding: 10px 15px;
    border: 0;
    font-size: 12px;
    background-color: #ecebeb;

}

.btn_field{
    margin-top: 20px;
    background-color: #494f57;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.btn_field a{
    color: #fff;
}